[Desktop Entry]
Version=1.1
Type=Application
Name=Protons - Login
GenericName=Sistema de Login
Comment=Autenticação e gerenciamento de usuários
Exec=Protons.UI
Icon=protons
Terminal=false
Categories=Office;Utility;System;
Keywords=login;auth;authentication;
StartupNotify=true
StartupWMClass=Protons.UI
